html, body/*, #divDetalhesItinerario*/{
	height: 100%;
	margin: 0px;
	padding: 0px;
    background-color:aliceblue;
}
.controleOrigem {
	margin-top: 16px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#txtOrigem {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#txtOrigem:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 401px;
	}
#txtDestino {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 400px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#txtDestino:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 401px;
	}
#txtHotel {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 500px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#txtHotel:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 501px;
	}
#txtValorHotel {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 140px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#txtValorHotel:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 141px;
	}

.dataChegada {
	margin-top: 0px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#datePicker {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 250px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#datePicker:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 250px;
	}
#datePickerVolta {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 250px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#datePickerVolta:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 250px;
	}

.horaChegada {
	margin-top: 0px;
	border: 1px solid transparent;
	border-radius: 2px 0 0 2px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	height: 32px;
	outline: none;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}
#timePicker {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 147px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#timePicker:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 147px;
	}
#timePickerVolta {
	background-color: #fff;
	padding: 0 11px 0 13px;
	width: 147px;
	font-family: Roboto;
	font-size: 15px;
	font-weight: 300;
	text-overflow: ellipsis;
}
	#timePickerVolta:focus {
		border-color: #4d90fe;
		margin-left: -1px;
		padding-left: 14px; /* Regular padding-left + 1. */
		width: 147px;
	}