<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <!--<machineKey validationKey="31C264166E999A7E4617D9553D2182146C5EFBC95D89A5AE07CAB1B5CB4B9DCCE5BFE78A2492195EDF0C089AF0C068418469512E028D9F5CB7C779ECF50008AC" decryptionKey="FF13DE2B9617A65F60AC7D000ED98C4386E5DDBD489702CC341E89965A7D6BF3" validation="SHA1" decryption="AES" />
    <pages enableEventValidation="false" viewStateEncryptionMode="Never"/>-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <globalization uiCulture="en-US" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>